<h4>Type your matrix</h4>
<div class="d-flex flex-column">
    <div class="d-flex">
        <input value="0" class="m-2" style="width: 30px;">
        <input value="0" class="m-2" style="width: 30px;">
        <input value="0" class="m-2" style="width: 30px;">
    </div>
    <div class="d-flex">
        <input value="0" class="m-2" style="width: 30px;">
        <input value="0" class="m-2" style="width: 30px;">
        <input value="0" class="m-2" style="width: 30px;">
    </div>
    <div class="d-flex">
        <input value="0" class="m-2" style="width: 30px;">
        <input value="0" class="m-2" style="width: 30px;">
        <input value="0" class="m-2" style="width: 30px;">
    </div>
</div>